# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Backend build / env
.env

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Cache
.cache/

# Dist / build (om du bygger senare)
dist/
build/
