.scoreboard {
  text-align: center;
  opacity: 0.9;
}

.scoreboard h2 {
  margin-bottom: 6px;
  font-size: 1.2rem;
}

#scoreboard-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.9rem;
}

#score-text {
  font-size: 1rem;
  opacity: 0.8;
}
